.input {
    padding: 0.5rem;
    outline: none;
    border: 1px solid #e8e8e8;
    border-radius: 0.25rem;
    color: #333;
}

.input:focus {
    box-shadow: 0 0 1pt 1pt #5850EB;
}

.input__label {
    color: #333;
    text-align: left;
    font-size: 0.9rem;
}