.card {
    background-color: #fff;
    display: flex;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    border-radius: 0.5rem;
}

.card__inner {
    padding: 3rem;
}

.card__header h1 {
    color: #333;
    margin-bottom: 1rem;
}

.card__content {
    display: flex;
    flex-direction: column;
}

.card__content__instructions {
    font-size: 1rem;
    margin-bottom: 1rem;
}