.app {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: #f5f5f5;
}

.app .card {
    text-align: center;
}

.app .card__content__instructions {
    color: #555;
    font-size: 0.9rem;
}

.app .input__label {
    color: #555;
    font-size: 0.9rem;
    text-align: left;
}

.form {
    display: flex;
    flex-direction: column;
}

.form .button {
    margin-top: 8px;
}

.mt-4 {
   margin-top: 0.25rem;
}


